[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
sklearn = "*"
ipython = "*"
tensorflow = "*"
ipykernel = "*"
implicit = "*"
scipy = "*"
psutil = "*"
jupyterlab = "*"
ipywidgets = ">=7.5"

[requires]
python_version = "3.7"
